*
{
  font-family: 'Roboto', sans-serif;
}
.bg-yellow
{
  background-color:#feca07 ;
}
.text-yellow
{
  color: #feca07;
}
@media all and (max-width:768px){
 .col-lg-6
 {
   margin: 2% 0%;
 }
}
@media all and (max-width:425px)
{
  .col-lg-12
  {
    margin:0;
  }
}